.mainbutton{padding: 45px; border-collapse: collapse; margin-top: 4px;}

h1
{
  text-align: center;
<<<<<<< HEAD
    color: rgb(0, 0, 0);
    border-width: 50px;
    border-color: black;
    border-style: groove;
}
.mainbutton
{
  text-align: center;
    color: rgb(0, 0, 0);
    border-width: 5px;
    border-color: black;
    border-style: groove;
=======
  border-width: 45px;
  border-color: black;
  border-style: groove;
 background-color: aliceblue;
>>>>>>> main
}
body
{
background-color: rgb(rgb(94, 83, 83));
}
.mainbutton
{
  text-align: center;
  border-width: 5px;
  border-color: black;
  border-style: groove;
}
